@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin '@iconify/tailwind4';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@theme {
	--color-severity-danger: var(--color-red-600);
	--color-severity-noncompliant: var(--color-amber-600);
	--color-severity-compliant: var(--color-green-600);
	--color-severity-unknown: var(--color-gray-500);
}

[data-mode='dark'],
[data-mode='dark'] {
	input,
	textarea,
	select {
		color: black;
	}
}
